@import "tailwindcss";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --color-bg-light: #f3f4f6;
    --color-bg-dark: #1f2937;

    background-color: var(--color-bg-light) !important;
    background-image: var(--bg-image);
  }

  :root.dark {
    background-color: var(--color-bg-dark) !important;
  }
}

/* Utility classes */
@layer utilities {
  .bg-auth-light {
    background-image: url("/world-map.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-auth-dark {
    background-image: url("/world-map.svg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat; /* Repeat for geometric pattern */
  }
}
